

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
  width: 100%;
  background-color:antiquewhite;
	}
        
.tei-body {
    font-size: 0.85rem; 
        }
    
    
header {
padding-top: 20px;
padding-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

h2 {
    text-align: left;
}

h3 {
    font-weight: bold;
    text-align: center;
    
}
footer {
    text-align: center;
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
    text-align: center;
}


article.transcription h2:not(:first-of-type) {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

article.transcription h2  {
    font-size:medium;
    font-weight: bold;
}

#manuscript .row .col-sm:first-child > article {
    padding-right: 20px; /* space to the right of article */
}

#manuscript article.transcription {
    padding-left: 20px; /* space to the left */
}

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
        margin-bottom: 2px;
	}

.row {
    padding: 1.5vw;
}

#collection {
    display: flex;
}

.thumbnail {
    margin: 5px;
    border: 1px solid black;
    width: 100px;
}

.img-half {
    width: 500px;
    height: auto;
    display: block;
    margin-left: 5px;  
}

.img-full {
    margin: 5px;
    width: 500px;
}

  #manuscript .figure-caption {
    text-align: left; 
    margin-left: 5px;   
}
